.container {
  width: 80%;
  margin: 0 auto;
}
.links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  background-color: rgb(32, 32, 172);
  height: 60px;
}

.links li {
  margin: 0px;
}
.links a {
  text-decoration: none;
  color: white;
  margin: auto;
}
.page-title {
  text-align: center;
  margin: 50px 0;
  font-size: xx-large;
}
